- if @notice
  .paragraph.bottomborder
    = @notice
    
= form_tag twitter_twitter_call_path, id: 'dashboard-form-1' do
  = hidden_field_tag :action_name, ''
  
  .paragraph.dashboard-section
    .dashboard-title
      Fetch Data
    = text_field_tag :handle, (flash[:last_used_handle] || @user_handle), autofocus: true, id: 'twitter-handle', class: 'form-control'
    .analysis-link
      %a{href: ''}
    = render partial: 'profile_action_buttons', locals: {handle: flash[:last_used_handle] || @user_handle}
  - if current_user    
    .paragraph.dashboard-section
      .dashboard-title
        Your Profile
      - if @user_has_profile
        %button.btn.btn-default.dashboard-action{'data-action-name' => 'refresh-friends'}
          Refresh whom you follow
        %button.btn.btn-default.dashboard-action{'data-action-name' => 'refresh-feed'}
          Refresh your feed
      - else
        You haven't registered your Twitter handle yet.
        = link_to "Authorize with Twitter", twitter_authorize_twitter_url
        to do so.

.paragraph.dashboard-section
  .dashboard-title
    Power Users
  = form_tag twitter_batch_call_path do
    %ol.paragraph
      %li
        = link_to "Search your biotags", analyses_search_path
      - if @no_tweet_profiles_ct != 0
        %li.tooltipper
          = "#{@no_tweet_profiles_ct} profiles do not have tweets"
          %span.mesg-box
            Profiles with no tweets created in our db last week OR have been a Twitter member for less than 6 months.
          = submit_tag "Process all!", name: 'no-tweet-profiles', class: 'btn btn-default', id: 'no-tweet-profiles'
      %li
        Process by leader:
        = text_field_tag :leader_handle, @user_handle, class: 'form-control mini-textfield'
        = submit_tag 'Get bios', name: 'bio-by-leader', class: 'btn btn-default'
        = submit_tag 'Get tweets', name: 'tweets-by-leader', class: 'btn btn-default'
        = submit_tag 'Get both', name: 'all-by-leader', class: 'btn btn-default'
